/* .offset::before{
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
} */

.navbar
{
  padding: 30px;
  height: 2;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background-color:  #297578 !important;
  
}

.navbar-brand img
{
  height: 5rem;
}

/*--- gap among nav items --*/
.navbar-nav li
{
  padding-right: 1.0rem;
}
nav .navbar-nav li a{
  color: white ;
  }

/*--- green shade ---*/
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover
{
  color:#FEA736;
}

.loginContainer{
  padding:20px ;
  border-radius:20px;
  /* width: 300px; */
  width: 300px;
  height: 300px;
  background-color: white;
}
.textboxStyle{
  background-color: #FEA736;
  opacity: 70%;
  color: #297578 ;
  font-weight: bold;

}
/* input[type=text] , input[type=password] {
  
} */
.remtext{
  color:#297578 ;
  font-size: 18px;
  font-weight:600;
}
.btnlogin{
  font-weight: 600;
  color: #fff;
  background-color: #297578 ;
  border-color: #297578 ;
  width: 250px;
}

.biglogin{
  width: 400px;
  
}
/*--- Landing page ---*/

.res-inner
{

  background-image: url(img/g1.gif) ;

}


.home-inner
{

  background-image: url(img/p1.png) ;

}



/*--- caption ---*/
.caption{

  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 40% ;
  z-index: 1;
  color: white;
  text-transform: uppercase;

}

.caption h1
{
  font-size: 2.0rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  padding-bottom: 1rem;
}

.caption h3{
  font-size: 2rem;
  text-shadow: 0.1rem 0.1rem 0.5rem black;
  padding-bottom: 1.6rem;
}

.top{
  padding-top: 20px;
}

/* login box */

/*--- footer Section ---*/

/* footer{
  background-color: #40474e;
  color: white;
  padding: 2rem 0 2rem;
  margin-top: 1rem;

}

footer img{
  height: 3rem;
  margin: 1.5rem 0;
}

footer a{
  color: white;
}

footer svg.svg-inline--fa{
  font-size: 1.6rem;
  margin: 1.2rem 0.5rem 0 0;
}

footer svg.svg-inline--fa:hover{
  color: #1ebba3!important;
} */

/* hr.socket{
  width: 100%;
  border-top: .2rem solid #666b71;
  margin-top: 3rem;
} */

/*--- Media Queries ---*/
@media (max-width: 767px){
  .caption h1
  {
    font-size: 2.3rem;

    letter-spacing: 0.15rem;

    padding-bottom: 0.5rem;
  }

  .caption h3{
    font-size: 1.2rem;

    padding-bottom: 1.2rem;
  }

  .btn-lg{
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
  .clients img{
    max-width: 50%;
    display: block;
    margin: 0 auto;


  }

}
